<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CloudNote &raquo; Sign up</title>
    <link rel="stylesheet" media="screen" type="text/css" href="stylesheets/whitespace-reset.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="stylesheets/signup.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="javascripts/prototype.js" type="text/javascript"></script>
    <script src="javascripts/effects.js" type="text/javascript"></script>
    <script src="javascripts/dragdrop.js" type="text/javascript"></script>
    <script src="javascripts/controls.js" type="text/javascript"></script>
    <script src="javascripts/application.js" type="text/javascript"></script>
</head>
<body>
    <div id="sitewrapper">
        <div id="header">
            <div id="global-nav">
                Have an account? <a href="/login">Login here.</a></div>
            <br />
        </div>
        <div id="eye">
            <div id="intro">
                <h1 id="trying-tick">
                    <strong>Thank you for trying CloundNote. </strong>Just fill out the form below and
                    we'll get you right in.</h1>
                
            </div>
        </div>
        <dl id="sidebar">
            <dt>What is CloudNote?</dt>
            <dd>
                You can use it to save your note by many terminals, such as phone, pad, pc...</dd>
        </dl>
        <div id="main" class="signup">
            <h4>
                Account settings</h4>
            <form action="/subscribe" method="post">
            <fieldset id="admin-account">
                <p>
                    <label class="email">
                        Email address <span id="owner_email_span">
                            <input id="owner_email" name="owner[email]" size="30" type="text" /></span>
                    <script type="text/javascript">
//<![CDATA[
                        new Form.Element.Observer('owner_email', 0.5, function (element, value) { new Ajax.Updater('availability', '/subscribe/check_email', { asynchronous: true, evalScripts: true, onComplete: function (request) { Element.hide('url_loading') }, onLoading: function (request) { Element.show('url_loading'); Element.hide('url-icon') }, parameters: 'url=' + encodeURIComponent(value) }) })
//]]>
                    </script>                    
                    </label>
                </p>
            </fieldset>
            <h4>
                Create the account password</h4>
            <fieldset id="admin-account">
                <p>
                    <label class="email">
                        password <span id="owner_email_span">
                            <input id="owner_first_name" name="owner[password]" size="30" type="password" /></span>
                    </label>
                    <label class="email">
                        confirm password <span id="owner_last_name_span">
                            <input id="owner_last_name" name="owner[last_name]" size="30" type="password" /></span>
                    </label>
                </p>

            </fieldset>
            <script type="text/javascript">
//<![CDATA[
                function enableSubmit(checkbox) {
                    $("submit").disabled = !checkbox.checked
                }
//]]>
            </script>
            <div id="agreement-box">
                <div id="agreement">
                    <h4 id="hdr_agreement">
                        Accept the agreement &amp; create your account</h4>
                    <p>
                        Your account is <strong>FREE</strong>. We can only support <strong>50M</strong> space for one account. </p>
                    <p>
                        If you use our cloud storage space, we <strong>not</strong> promiss the data that saved in the storage never lost! Or you can choose save data to <strong>yourself</strong> cloud storage. </p>
                    <input id="accept_agreement" name="accept_agreement" onclick="enableSubmit(this)"
                        type="checkbox" value="1" />
                    <label for="accept_agreement">
                        <strong>I understand and agree</strong></label>
                    <div id="create-account">
                        <input name="submit" disabled="disabled" type="submit" id="submit" value="Place this order &amp; create my CloudNote account" />
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="clear">
            <!--&nbsp; -->
        </div>
    </div>
    <p id="footer">
        CloudNote is a open source project. You can find source code in <a href="https://github.com/hxpwork/CloudNote">github</a>.</p>
</body>
</html> 