@import url("form.css");

body {
	background: #ECF5FF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; }

a { color: #4A92D9; font-weight: bold; text-decoration: underline; }
	a:hover {
		color: #FFFFFF;
		background-color: #4A92D9; }
p { line-height: 180%; }

div.clear {
	height: 1px;
	clear: both; }

#sitewrapper {
	background: #FFFFFF;
	width: 720px;
	margin: 20px auto;
	padding: 20px; }

/* Sitewrapper -> Header
--------------------------------------------------*/
	#sitewrapper #header {
		padding-bottom: 10px;
		width: 720px; }
		#sitewrapper #header #global-nav {
			float: right;
			font-size: 11px; }
			#sitewrapper #header #global-nav a { }
		#sitewrapper #header #logo a {
			display: block;
			height: 51px;
			width: 124px;
			background: #FFFFFF url("/images/signup/logo_tick-signup.gif") no-repeat 0 0;
			text-indent: -5000px; }
		#sitewrapper #header ul#navigation {
			float: right;
			clear: right;
			padding-top: 25px;
			color: #4A92D9; }
			#sitewrapper #header ul#navigation li { display: inline; }
				#sitewrapper #header ul#navigation li strong { font-weight: normal; color:#000000 }
				#sitewrapper #header ul#navigation li a { }

/* Sitewrapper -> Eye
--------------------------------------------------*/
	#sitewrapper #eye {
		background: #69A5E0;
		border: 1px solid #1E5791;
		width: 700px;
		padding: 10px; }
		#sitewrapper #eye #intro {
				background: #96BFE9 url("/images/signup/bg_gradient_homepage-intro.gif") repeat-x 0 100%;
				padding: 20px; }
		#sitewrapper #eye #intro h1 { }
			#sitewrapper #eye #intro h1#trying-tick {
				background: transparent url("/images/signup/hdr_trying-tick.gif") no-repeat 0 0;
				height: 20px;
				width: 609px;
				margin: 0 auto;
				text-indent: -50px;
				padding-bottom: 10px;
				padding-left:100px; 
				 color: #FFFFFF;}
		#sitewrapper #eye p { color: #FFFFFF; }
			#sitewrapper #eye #intro p.center {
				text-align: center; }

/* Sitewrapper -> Headings
--------------------------------------------------*/
	#sitewrapper h4 {
		font: 16px/22px Arial, Helvetica, sans-serif;
		color: #438DD8;
		font-weight: bold;
		padding: 10px 0; }
			
/* Sitewrapper -> Main
--------------------------------------------------*/
#main {
	width: 500px;
	float: left; }

/* Sitewrapper -> Sidebar
--------------------------------------------------*/
#sidebar {
	width: 200px;
	float: right; }
	#sitewrapper #sidebar {
		float: right;
		width: 200px; }
		#sitewrapper #sidebar dt {
			font: 13px/18px Arial, Helvetica, sans-serif;
			font-weight: bold;
			color: #000000; }
		#sitewrapper #sidebar dd {
			margin: 10px 0 20px 0;
			line-height: 150%; }

/* Signup
--------------------------------------------------*/

#sitewrapper #main,
#sitewrapper #sidebar {
	margin: 20px 0 0 0; }

#sitewrapper #main.signup h4 {
	border-bottom: 1px solid #E9E9E9;
	padding: 0;
	clear: left; }
	#sitewrapper #main.signup h4 strong.secure {
		color: #239715;
		font-size: 11px;
		padding: 0 0 0 5px;
		text-transform: uppercase; }
#sitewrapper #main p.note {
	font-size: 12px;
	line-height: 130%;
	padding: 10px 0;
	border-bottom: 1px solid #E9E9E9; }

#sitewrapper #agreement-box {
	border: 1px solid #16CD02;
	padding: 10px;
	background: #E5FDE3;
	clear: left; }
	#sitewrapper #agreement-box #agreement {
		background: #E5FDE3 url("/images/signup/bg_gradient_molehill.gif") repeat-x 0 0;
		padding: 20px; }
		#sitewrapper #agreement-box #agreement h4#hdr_agreement {
			background: url("/images/signup/hdr_agreement.gif") no-repeat 0 0;
			width: 393px;
			height: 20px;
			border: none;
			text-indent: -5000px;
			padding: 0 0 15px 0; }
		#sitewrapper #agreement-box #agreement p {
			line-height: 160%;
			padding-bottom: 15px; }
		#sitewrapper #agreement-box #agreement #create-account {
			clear: both;
			padding-top: 15px; }
			#sitewrapper #agreement-box #agreement #create-account input {
				padding: 4px; }

/* =Flash
--------------------*/
.flash.good {
	border: 1px solid #229322;
	background: #86D958;
	padding: 10px;
	margin: 0 0 20px 0; }
.flash.bad {
	border: 1px solid #D29C34;
	background: #F5DC63;
	padding: 10px;
	margin: 0 0 20px 0; }
	.flash div.inner {
		font-family: Arial, Helvetica, sans-serif;
		padding: 10px 20px 10px 70px;
		font-size: 12px;
		color: #000000;
		text-align: left;
		min-height: 30px; }
		.flash div.inner h3 {
			font-size: 14px;
			font-weight: bold;
			margin: 5px 0;
			display: block;
			padding: 0;
			border: none; }
		.flash div.inner ul {
			margin-left: 20px; }
			.flash div.inner ul li {
				line-height: 150%;
				list-style-type: square; }
		.flash div.inner a.large {
			line-height: 40px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			font-weight: bold; }
		.flash div.inner a { font-weight: bold; }
	.flash.good div.inner {
		background: #FFFFFF url("/images/icon_check.gif") no-repeat 20px 15px; }
	.flash.bad div.inner {
		background: #FFFFFF url("/images/icon_yeild.gif") no-repeat 15px 15px; }
	.flash.no-explanation div.inner {
		font-weight: bold;
		min-height: 35px;
		font-size: 14px; }

/* Footer
--------------------------------------------------*/
	p#footer {
		text-align: center;
		padding-bottom: 20px; }
